<app-layout>
  <div class="header">Course Introduction</div>
  <div class="content">
    Rerender part of application <br/>
    Reactive application <br/>

    VueJs Advanatage over Angular and React <br/>
    Exremly lean and small (16kb) minified and gzipped (for core framework without router)<br/>
    Great Runtime performance(Based on same benchmark it even beat angular 2 and react)<br/>
    Feature Rich:<br/>
      Computed Properties, Synching, Events, Ouputting Data, Devlopers Tools, Filters,Watchers,
      Components, Lists, Forms, Conidtionals, Mixins, Reactivity, Directives, Dynamic Syles
  </div>
</app-layout>

<app-layout>
  <div class="header">Join our online learning community</div>
  <div class="content">
    “Academind Community” on Discord: https://discord.gg/gxvEWGU
  </div>
</app-layout>


<app-layout>
  <div class="header">lets's Create our First VueJS Application</div>
  <div class="content">
    <pre>
    <code><!--
      new Vue({
      el: '#app',
      data: {
      title: 'Hello World!'
      }
      });


      <div id="app">
        <p> {{title}}</p>
      </div>-->
    </code>
    </pre>
  </div>
</app-layout>


<app-layout>
  <div class="header">Extending the VueJs Application</div>
  <div class="content">
    <!--new Vue({
    el: '#app',
    data: {
    title: 'Hello World!'
    },
    methods: {
    changeTitle: function(event) {
    this.title = event.target.value
    }
    }
    });-->
<!--
    <div id="app">
      <input type="text" v-on:input="changeTitle">
      <p> {{title}}
      </p>
    </div>-->
  </div>
</app-layout>


<app-layout>
  <div class="header">Course Struture</div>
  <div class="content"></div>
</app-layout>


<app-layout>
  <div class="header">Taking Advantages of all Course Resources</div>
  <div class="content"></div>
</app-layout>


<app-layout>
  <div class="header">Setup VueJS Locally</div>
  <div class="content"></div>
</app-layout>


<app-layout>
  <div class="header">Module Resources and Useful Links</div>
  <div class="content">
    https://jsfiddle.net/smax/c4mcxu7s/
  </div>
</app-layout>
